{% extends 'base.html' %}  
  
  
  {% block contenido %}
  	<div class="span6">    
	  	<h1>Lista de Empleados</h1>
	    <table>
			<thead><th>Nombre Empleado</th></thead>
		{% for elemento in listaEmpleados %}
			<tr>
				  <td>{{elemento.nombre}}</td>
				  <td>{{elemento.apellido}}</td>
			</tr>	
		{% endfor %}
		</table>


	    <div class="widget widget-table action-table">
            <div class="widget-header"> <i class="icon-th-list"></i>
              <h3>Lista de Empleados</h3>
            </div>
            <!-- /widget-header -->
            <div class="widget-content">
              <table class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Nombre</th>
					<th>Apellido</th>
					<th class="td-actions"></th>
                  </tr>
                </thead>
                <tbody>
                	{% for elemento in listaEmpleados %}
                	<tr>
						<td>{{elemento.nombre}}</td>
				  	     <td>{{elemento.apellido}}</td>
						<td class="td-actions"><a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a><a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a></td>
					</tr>
					{% endfor %}                
                </tbody>
              </table>
            </div>
            <!-- /widget-content --> 
          </div>
		
{% endblock %}		