{% extends 'base.html' %}  
  
  
  {% block contenido %}
	  	<div class="span8">
	  
	  			<div class="widget">
				            <div class="widget-header"> <i class="icon-bookmark"></i>
				              <h3>Important Shortcuts</h3>
				            </div>
				            <!-- /widget-header -->
				            <div class="widget-content">
				              <div class="shortcuts"> <a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-list-alt"></i><span
				                                        class="shortcut-label">Apps</span> </a><a href="javascript:;" class="shortcut"><i
				                                            class="shortcut-icon icon-bookmark"></i><span class="shortcut-label">Bookmarks</span> </a><a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-signal"></i> <span class="shortcut-label">Reports</span> </a><a href="javascript:;" class="shortcut"> <i class="shortcut-icon icon-comment"></i><span class="shortcut-label">Comments</span> </a><a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-user"></i><span
				                                                class="shortcut-label">Users</span> </a><a href="javascript:;" class="shortcut"><i
				                                                    class="shortcut-icon icon-file"></i><span class="shortcut-label">Notes</span> </a><a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-picture"></i> <span class="shortcut-label">Photos</span> </a><a href="javascript:;" class="shortcut"> <i class="shortcut-icon icon-tag"></i><span class="shortcut-label">Tags</span> </a> </div>
				              <!-- /shortcuts --> 
				            </div>
				            <!-- /widget-content --> 
	          	</div>
	  	</div>
  
  		<div class="span6">
	            <div class="widget widget-table action-table">
				            <div class="widget-header"> <i class="icon-th-list"></i>
				              <h3>Pr&oacute;ximas Reuniones</h3>
				            </div>
				            <!-- /widget-header -->
				            <div class="widget-content">
				              <table class="table table-striped table-bordered">
				                <thead>
				                  <tr>
				                    <th>Cliente</th>
									<th>Motivo</th>
									<th>Empleado Asignado</th>
									<th>Fecha</th>
									<th>Hora</th>
									<th class="td-actions"></th>
				                  </tr>
				                </thead>
				                <tbody>
				                	{% for reunion in listaProximasReuniones %}
				                	<tr>
										<td>{{reunion.cliente_id_cliente.nombre}}</td>
										<td>{{reunion.motivo}}</td>
										<td>{{reunion.empleado_idempleado.nombre}} {{reunion.empleado_idempleado.apellido}}</td>
										<td>{{reunion.fecha}}</td>
										<td>{{reunion.hora}} </td>
										<td class="td-actions"><a href="javascript:;" class="btn btn-small btn-success"><i class="btn-icon-only icon-ok"> </i></a><a href="javascript:;" class="btn btn-danger btn-small"><i class="btn-icon-only icon-remove"> </i></a></td>
									</tr>
									{% endfor %}                
				                </tbody>
				              </table>
				            </div>
				            <!-- /widget-content --> 
	          </div>
	          
	          
	          <div class="widget">
			            <div class="widget-header"> <i class="icon-signal"></i>
			              <h3> Reuniones en los Ultimos 6 Meses</h3>
			            </div>
			            <!-- /widget-header -->
			            <div class="widget-content">
			              <canvas id="area-chart" class="chart-holder" height="250" width="538"> </canvas>
			              <!-- /area-chart --> 
			            </div>
			            <!-- /widget-content --> 
	          </div>

		</div>
	

	
	          
  
  <button >Crear Reunion</button>
    <h1>Proximas reuniones...</h1>
    <table style="border:1px;border-width:1px;">
			<thead>
				<th>Cliente</th>
				<th>Motivo</th>
				<th>Empleado Asignado</th>
				<th>Fecha / Hora</th>
			</thead>
		
			{% for reunion in listaProximasReuniones %}
			<tr>
				<td>{{reunion.cliente_id_cliente.nombre}}</td>
				<td>{{reunion.motivo}}</td>
				<td>{{reunion.empleado_idempleado.nombre}} {{reunion.empleado_idempleado.apellido}}</td>
				<td>{{reunion.fecha}} {{reunion.hora}} </td>
				
			</tr>
			{% endfor %}
	</table>
	
	<form id='formulario' method='POST' enctype='multipart/form-data' action=''>{% csrf_token %}
		{{formulario.as_p}}
		<p><input type='submit' value='Confirmar'/></p>
	</form>
	{% endblock %}
